<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>confirmar_fraccionamineto_2.png</string>
	<string>confirmar_fraccionamineto.png</string>
	<string>consultar_operaciones_1.png</string>
	<string>pantallaLogin.png</string>
	<string>principal.png</string>
	<string>resultado.png</string>
</array>
</plist>
